{% comment %} A representative theme section: loops, output, if-wrapped markup. {% endcomment %}
<section class="product-card" aria-label="{{ section.settings.title }}">
  {% for product in collection.products %}
    <div class="card">
      <a href="{{ product.url }}" class="card__link">
        <img
          src="{{ product.featured_image | image_url: width: 400 }}"
          alt="{{ product.featured_image.alt }}"
          {% if product.available %}data-available="true"{% endif %}
          width="400"
          height="400"
        >
        <h3>{{ product.title }}</h3>
      </a>
      <button type="submit" name="add" class="card__add">
        {{ 'products.add_to_cart' | t }}
      </button>
    </div>
  {% endfor %}
</section>
